ul, li {
  list-style-type: none;
}


body{
  font-size: 6px;
  font-family: Helvetica, sans-serif;
  background-color: #FFFDF5;
}
.calendarTitle {
  padding: 30px 20px 10px 10px;
  text-align: center;
  font-size: 2em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  background: #003daa;
  letter-spacing: 2px;
  color: #fff;
  width: 100%;
}

.calendarTitle p {
  display: inline-block;
}
.month {
    padding: 30px 20px 10px 10px;
    width: 100%;
    background: #003daa;
    text-align: left;
    font-size: 1em;
    color: #000000;

}

.month ul {
    margin: 0;
    padding: 0;

}

.month ul li {
    color: #fff;
    font-size: 2em;
    text-transform: lowercase;
    letter-spacing: 2px;
}

.month li {
  display: inline-block;
}

.monthname {
  margin-left: 20px;
  padding-top: 10px;
}

.month .sec {
  color: #fff;
  opacity: 0.3;
}


.weekdays{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px 5px;
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 2em;
  font-weight: bold;
  color: #003daa;
  background-color: #FFFDF5;

}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px 5px;
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding-top: 6%;
  padding-left: 3%;
  padding-right: 3%;


}
.calendar li {
  background-color: #fff;
  font-size: 12px;
  padding-top: 12px;
  background-color: #FFFDF5;
}

.calendar li.due {

 background: #4668db;
  color: white;
  opacity: 0.5;
  padding:12px 5px 5px 5px;
}

h1{
  text-align: center;
  font-size: 24px;
  color: black;
  padding-top: 6%;
}
