body {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #262626;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  padding: 1em 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background-color: #003DAA;
  letter-spacing: 2px;
  z-index: 99;

}

h2 {
  font-size: 16px;
  font-weight: bold;
  color: #003DAA;
  padding-bottom: 2em;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #262626;
  padding-bottom: 0.75em;
}

button {
  padding: 1em;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  border: 1px solid #262626;
  border-radius: 3px;
}

input {
  border: none;
  border-bottom: 1px solid #262626;
  width: 280px;
  background-color: #FFFDF5;
  font-size: 14px;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

input:focus {
  outline: none;
}


.container {
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;
}

.newTaskButton {
  width: 80px;
  height: auto;
  border: none;
  position: absolute;
  top: 2em;
  right: 1.5em;
  background-color: transparent;
  position:fixed;
  z-index: 99;
}
.remindersContainer{
  padding-top: 1.7em;
}
.list {
  display: grid;
  grid-row-gap: 0.25em;
  padding-top: 10%;
}

.listItem {
  font-size: 18px;
  padding-top: 1em;
  border: 0px solid;
  padding: 10px;
  box-shadow: 0px 0px 1px 0px #888888;
}

.dateDue {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #466DDB;
}

.listItemName {
  padding-bottom: 0.5em;
  padding-top: 0.25em;
}

.sublist {
  display: grid;
  padding: 1em 0;
  font-size: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  /* border-bottom: 1px solid #466DDB; */
}

.taskAttribute {
  display: flex;
  position: relative;
  color: #466DDB;
  border-right: 1px solid rgb(208,208,208, 0.5);
  width: 100px;
  justify-content: center;
  padding: 0.5em;
  padding-right: 0.2em;
  font-size: 12px;
  z-index: -1;
  text-align: center;

}

.loginGraphic {
  width: 100%;
  height: auto;
}

.loginContainer {
  text-align: left;
  padding-top: 0.5em;
  padding-left: 2em;
}

.loginWelcome {
  font-size: 34px;
  font-weight: bold;
  color: #262626;
  padding-bottom: 2em;
}

.emailField, .passwordField {
  display: grid;
  padding: 1em 0;
  width: 250px;
  background-color: #FFFDF5;
  font-size: 10px;
  font-weight: bold;
  color: #999999;
}

.loginButtonContainer, .createTaskButtonContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.loginButton, .createTaskButton {
  width: 100%;
  background-color: #003DAA;
  padding: 1.5em;
  color: #FFFDF5;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  margin: 0;
}

.newTaskForm {
  display: grid;
  padding-top: 4em;
  margin: auto;
  justify-content: center;
  width: 320px;
}

.closeWindow {
  width: 35px;
  height: auto;
  border: none;
  position: absolute;
  top: 1em;
  left: 1em;
  background-color: transparent;
}

.taskInput {
  padding-top: 1.5em;
}

::placeholder {
  color: #466DDB;
  text-align: center;
  opacity: 0.5;
  padding-top: 0.5em;
}

.formSectionTitle {
  padding: 1.5em 0;
  font-weight: bold;
  font-size: 2em;
  color: #003DAA;
}

.checkboxContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.difficultySelect input[type="radio"] {
  width: 100%;
  display: none;
}

.difficultySelect:hover {
  background-color: #003DAA;
}

.difficultySelect:hover label {
  color: #FFFDF5;
  font-weight: bold;
}

.difficultySelect {
  display: flex;
  border: 1px solid #003daa;
  border-radius: 20px;
  width: 85px;
}

.difficultySelect label {
  color: #003DAA;
  margin: auto;
  padding: 0.5em;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.difficultySelect input[type="radio"]:checked + label {
  background-color: #003daa;
  color: #fffdf5;
  font-weight: bold;
}

.navMenu {
  display: grid;
  grid-row-gap: 0.25em;
  padding: 1em;
  margin: auto;
  width: 320px;
}

.closeMenu {
  margin-bottom: 4em;
}

.navSection {
  padding-bottom: 2em;
}

.remindersList {
  margin-top: -30px;
}

.reminderslistItem {
  padding: 1em;
  border-bottom: 1px solid #0D40A4;
}

.reminderslistItemTitle h2 {
  padding: 1em;
  background-color: #7F9FD3;
  font-size: 24px;
  color:white;
  border-top:1px solid #0D40A4;
  border-left: 1px solid #0D40A4;
  border-right: 1px solid #0D40A4;
  border-bottom: 10px solid #0D40A4;
}
.reminderslistItem p{
  font-size: 2em;
}
.profilePic {
  padding-bottom: -2px;

}

.profileInfo {
  background-color: white;
  width: 250px;
  height: auto;
  padding: 1em;
  border: 1px solid lightgrey;
  color: #999999;
  font-size: 12px;
  position: absolute;
  bottom: 100px;
  border:1px;
  box-shadow: 6px 8px 40px 0 rgba(0, 0, 0, 0.2);
}

.profileName {
  font-size: 25px;
  font-weight: bold;
  color: #262626;
  border-bottom:6px solid #003DAA;
  padding:16px;
}

.profileEmail {
  font-size:16px;
  font-family: courier;
  font-weight: 100;
  padding:16px;

}

.profileSchool {
  font-size: 10px;
  color:white;
  background-color: #003DAA;
  padding:16px;
  letter-spacing: 2px;

}
.profileContainer {
  position: relative;
  margin-top: 20px;
  border:4px #003DAA solid;
  border-top:15px #003DAA solid;
  z-index: -1;

}

.header {
  position:fixed;
  height: 57px;
  width:100%;
  background-color: #003DAA;
  z-index: 99;
  border-bottom: solid;
  border-width: 0.5px;
  border-color: white;
}
.bottom {
  position: fixed;
  width: 100%;
  background-color: #003DAA;
  padding: 15px;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid white;
  box-shadow: 0pxpx 40px 2px white;
}

.bottom li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 30px;
}

.deleteButton {
  color: #003DAA;
  display: block;
  margin-right: 0;
  position: absolute;
  right: 10%;
  width: 20px;

}
